#bg {
    position: fixed; 
    /* overflow-y: hidden;
    overflow-x: hidden; */
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

.container {
  position: relative;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-stretch: ultra-condensed;
  letter-spacing: 2px;
  margin-left: 65px;
}
  
#top-left {
  margin-top: 95px;
  font-size: 200%;
  position: absolute;
  top: 8px;
  left: 16px;
}

#tagline{
  margin-top: 165px;
  font-size: 150%;
  position: absolute;
  top: 8px;
  left: 16px;
}

#desc{
  margin-top: 365px;
  font-size: 150%;
  position: absolute;
  
} 

.login-box{
  width: 320px;
  height: 420px;
  background: rgba(0,0,0,0.07);
  color: #fff;
  top: 50%;
  left: 75%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 15px;
  padding: 70px 30px;
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input{
  width: 100%;
  margin-bottom: 40px;
}
.login-box input[type="text"], input[type="password"]
{
  border: none;
  outline: none;
  text-align: center;
  /* border-bottom: 1px solid #fff; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.login-box input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #065471;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
  cursor: pointer;
  background: #0a91ab;
  color: #000;
}

.login-box a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.login-box a:hover
{
  color: #0a91ab;
}




























































  