body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  background-color: #ffc045;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
    width: 400px;
    height: 525px;
    background: rgba(0, 0, 0, 0.07);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
    
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  outline: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 16px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  font-size: 16px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #065471;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 20px;
  font-size: 16px;
}

.registerbtn:hover {
    background: #0a91ab;
  opacity: 1;
}

h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 30px;
}
