<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bookDetails.css">
    
</head>
<body>
 <div class="white"><h2><b><center>{{book_details[0]['title']}}</center></b></h2></div>
    <div class="container">
        <div class="left">

        <div class="image">
            <img src={{book_details[0]['image']}}>
        </div>
        <div id="tweets">
   
            <script> var ids = {{target|tojson}};
            ids= JSON.parse(ids);
            </script>
            <script src="https://platform.twitter.com/widgets.js" crossorigin="anonymous" charset="utf-8"></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>
            <script src="{{ url_for('static', filename = 'script.js') }}"></script>
            <script>showTweets();</script>
            </div>
        </div>
        <div class="movieDetails">
             {% for key, value in book_details[0].items(): %}
                    {% if key=="averageRating" %}
                        <div class="heading"><b>Average Rating:</b><br><br></div>
                        <div class="text">{{value}}<br><br></div>
                    {% elif key!="_id" and key!="image" and key!="title"%}
                        <div class="heading"><b>{{key.capitalize()}}:</b><br><br></div>
                        <div class="text">{{value}}<br><br></div>
                    {% endif %}
            {% endfor %}
            <br><br><br>
            <div class="interested">
                 <a href="mailto:swars1998@gmail.com">
                 <input type="submit" name="Interested" value=" Interested ! ">
                 </a>
            </div>
        </div>
</div>

</body>
</html>